.productTable{
  width: 60%;  
  margin: 50px auto;
  background-color:antiquewhite ;
  padding: 50px;
  border-radius:10px;
  box-shadow:1px 1px 8px ;
}
.productTable table{
    width: 100%;
    margin-top:30px ;
}
.productTable table thead th{
 background-color: darkcyan;
 color: white;
}
.productTable table tbody td{
   padding: 10px; 
   text-align: center;
}
.actionButtons button{
    margin: 0 10px;
}